body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  width: 100%;
  height: 50vh;
  background-image: url(images/food/Project\ Cover4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* banner section  start */
.navbar {
  margin: 0;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  font-family: "Bona Nova", serif;
}
.brand-image h1 {
  color: white;
  font-size: 30px;
}
.nav-links a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 8px;
}
.nav-links a:hover {
  color: black;
  background: linear-gradient(
    90deg,
    rgba(255, 190, 60, 0.9948354341736695) 0%,
    rgba(255, 76, 0, 1) 100%
  );
}

.banner {
  margin-top: 30px;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.text-banner span {
  color: rgb(243, 123, 11);
  font-family: "Bona Nova", serif;
}
.text-banner a {
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  background: rgb(255, 190, 60);
  background: linear-gradient(
    90deg,
    rgba(255, 190, 60, 0.9948354341736695) 0%,
    rgba(255, 76, 0, 1) 100%
  );
  border-radius: 20px;
}
.text-banner a:hover {
  color: black;
}

/* banner section  end */

/* about section  start */
.about-section {
  width: 100%;
  height: 60vh;
  margin-top: 61px;
  background-image: url(images/shapes/Frame\ 58.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.about-half {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-half img {
  width: auto;
  height: 300px;
  padding: 20px;
  margin: 20px 40px;
}
.about-text {
  width: 400px;
  height: 200px;
  display: flex;
  flex-direction: column;
}
.about-text h1 {
  text-shadow: 1px 1px 0px #f0c5c5;
  font-family: "Bona Nova", serif;
}
.about-text a {
  width: 78px;
  text-decoration: none;
  color: white;
  margin: 10px;
  padding: 10px 20px;
  background: linear-gradient(90deg, rgb(251 123 159) 0%, rgb(222 19 41) 100%);
  border-radius: 20px;
}
.about-text a:hover {
  color: black;
}
/* about section end*/

/*recipe section start*/
.my-recipies {
  margin-top: 20px;
}
.recipe-text {
  text-align: center;
  margin: 5px 300px;

  justify-content: center;
  align-items: center;
}
.recipies {
  width: 80%;
  height: auto;
  display: flex;
  margin: 0 auto;
}
.my-recipies h2 {
  text-align: center;
  padding: 0;
  margin: 0;
  text-shadow: 1px 1px 0px #f87c17;
  font-family: "Bona Nova", serif;
}
.card img {
  width: 100%;
}
.card .title {
  position: relative;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 33%;
  margin-left: 30px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.container p {
  font-size: 14px;
  font-family: "Bona Nova", serif;
  font-weight: bold;
}
/*  recipe section end  */

/* feedback section start*/
.feedback {
  width: 100%;
  height: 300px;
}
.feedback h3 {
  text-align: center;
  margin: 0;
  font-size: 25px;
  text-shadow: 1px 1px 0px #f8b930;
  font-family: "Bona Nova", serif;
}
.feedback-div {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.feedback-card {
  background: rgb(215, 232, 247);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin: 25px;
  padding: 10px;
  border-radius: 10px;
}
/* feedback section end*/

/*followers section start*/
.followers {
  width: 100%;
  height: auto;
}
.followers-div {
  width: 60%;
  display: flex;
  margin: 0 auto;
  box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin-bottom: 30px;
  background-color: antiquewhite;
}
.follower-card {
  text-align: center;
  width: 20%;
  margin: 35px;
  padding: 10px;
  border-radius: 10px;
}
/* followers section end */

/* footer section start*/
.footer {
  width: 100%;
  height: 200px;
  background: rgb(1, 2, 26);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-text {
  font-size: 20px;
  font-weight: 400;
}
.footer-text h1 {
  text-transform: uppercase;
}
.footer span {
  color: rgb(224, 133, 91);
}
.footer-text h6 {
  color: antiquewhite;
}
/* footer section end */
