body {
  margin: 0;
  padding: 0;
  font-family: "Bona Nova", serif;
}
.top-banner {
  background-image: url(images/shapes/Frame\ 56.jpg);
  background-repeat: no-repeat;
}
section {
  height: 550px;
}

.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  color: rgb(3, 45, 80);
  font-size: 20px;
}
h3 {
  font-size: 25px;
}
span {
  color: rgb(2, 11, 143);
}
nav {
  width: 100%;
  height: 80px;
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a {
  color: white;
  font-size: 17px;
  text-transform: uppercase;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  font-family: "Bona Nova", serif;
}
a:hover {
  background-image: linear-gradient(45deg, rgb(78, 11, 235), rgb(26, 221, 247));
  transition: 0.5s;
  color: black;
}
.btn {
  text-decoration: none;
  padding: 5px 8px;
  border-radius: 3px;
  background-image: linear-gradient(45deg, rgb(26, 221, 247), rgb(78, 11, 235));
}
.dream-area {
  background-image: url(images/shapes/Frame\ 57.jpg);
  background-repeat: no-repeat;
  background-position: right;
}

.about-heading {
  text-align: center;
  margin-top: 100px;
}

.recipies {
  width: 80%;
  height: auto;
  display: flex;
  margin: 0 auto;
}
.my-recipies h2 {
  text-align: center;
  padding: 0;
  margin: 0;
}
.card img {
  width: 100%;
}
.card .title {
  position: relative;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 33%;
  margin-left: 30px;
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  padding: 2px 16px;
}
.container p {
  font-size: 14px;
}
.feedback {
  width: 100%;
  height: 300px;
}
.feedback h3 {
  text-align: center;
  margin: 0;
}
.feedback-div {
  width: 100%;
  display: flex;
  margin: 0 auto;
}
.feedback-card {
  background: rgb(215, 232, 247);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 20%;
  margin: 25px;
  padding: 10px;
  border-radius: 10px;
}

.followers {
  width: 100%;
  height: 200px;
}
.followers-div {
  width: 60%;
  display: flex;
  margin: 0 auto;
}
.follower-card {
  text-align: center;
  width: 20%;
  margin: 35px;
  padding: 10px;
  border-radius: 10px;
}
